<form class="login-form">
  <div>
    <label for="email-l">email:</label>
    <input type="text" id="email-l" />
  </div>
  <div>
    <label for="password-l">password:</label>
    <input type="password" id="password-l" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-s">username:</label>
    <input type="text" id="username-s" />
  </div>
  <div>
    <label for="email-s">email:</label>
    <input type="text" id="email-s" />
  </div>
  <div>
    <label for="password-s">password:</label>
    <input type="password" id="password-s" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>