{{!-- login form --}}
<article class="login-form-wrapper">
    <h2>Login: </h2>
    <form class="login-form">
        <label>Email: </label>
        <input class="login-email" name="login-email" type="text">
        <label>Password: </label>
        <input class="login-password" name="login-password" type="password">
        <button>Login</button>
    </form>
</article>

{{!-- sign-up form --}}
<article class="signup-form-wrapper">
    <h2>Sign Up: </h2>
    <form class="signup-form">
        <label>Username: </label>
        <input class="signup-username" name="signup-username" type="text">
        <label>Email: </label>
        <input class="signup-email" name="signup-email" type="text">
        <label>Password: </label>
        <input class="signup-password" name="signup-password" type="password">
        <button>Signup</button>
    </form>
</article>

<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>