* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: rgb(55, 70, 30);
    background-color: lightgreen;
  }

  a{
    text-decoration: none;
    color: rgb(55, 70, 30);
  }
  a:hover{
      background-color: darkolivegreen;
      color: lightgreen;
  }

  h2{
      padding: 15px;
  }
  header{
      display: flex;
      align-items: center;
      justify-content:space-around;
      background-color: darkolivegreen;
  }

  nav{
      width: 50%;
      display: flex;
      justify-content: space-evenly;
  }

  .nav-link{
      color: lightgreen;
      background-color: rgb(55, 70, 30);
      padding: 5px;
      border-radius: 10px;
  }

  .nav-link:hover{
    background-color: lightgreen;
    color:rgb(55, 70, 30);
  }

  .nav-button{
    background-color: rgb(55, 70, 30);
    color: lightgreen;
    border: none;
    border-radius: 10px;
  }

  .nav-button:hover{
    background-color: lightgreen;
    color:rgb(55, 70, 30);
  }

  .post:nth-child(even){
      background-color: rgb(112, 143, 62)
  }
  .post:nth-child(odd){
      background-color: rgb(146, 185, 82)
  }

  .title,.comments,.content{
    padding-left: 15px;
  }
  .title-wrapper{
      display: flex;
      background-color: rgb(55, 70, 30);
  }
  .details{
     color: lightgreen;
     width: 50%;
  }
  .title{
    color: lightgreen;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 50%
  }
  .content{
    padding-bottom: 10px;
    padding-top: 10px;
}
.comments{
    padding-bottom: 10px;
    padding-top: 10px;
}
.post-details{
    padding: 10px;
    border-radius: 10px;
}

.new-post-form, .edit-post-form{
    padding: 15px;
    display: flex;
    flex-direction: column;
}
#post-title{
    margin-left: 26px;
    margin-bottom: 15px;
}
.btn{
    margin-left: 26px;
    margin-top: 15px;
    border: none;
    background-color:rgb(55, 70, 30);
    color: lightgreen;
    padding: 5px;
    border-radius: 10px;
}
.btn:hover{
    color:rgb(55, 70, 30);
    background-color: rgb(146, 185, 82);
}

.details-link,.edit-link{
    padding: 10px;
    border-radius: 10px;
}

.comment:nth-child(even){
    background-color: rgb(112, 143, 62)
}
.comment:nth-child(odd){
    background-color: rgb(146, 185, 82)
}